* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin: auto;
}

nav {
    height: 45px;
    display: flex;
    justify-content: end;
    padding: 5px 25px;
    align-items: center;
}

ul {
    padding: 0;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    border-right: 1px solid black;
}

.main-nav li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 5px 8px;

    transition: all 400ms;
}

.main-nav li:last-child {
    border-right: 0px solid black;
}

.main-nav li a:hover {
    color: gray;
}

.one-half {
    width: 50%;
}

.top-section {
    display: flex;
    align-items: center;

}

.one-half img {
    width: 80%;
}

h1 {
    font-size: 85px;
    line-height: 90px;
    color: #363958;
    text-transform: uppercase;
}

.special {
    color: #ff8367;
}

p {
    font-size: 18px;
    color: #3e3e3e;
    padding: 35px 0;
    line-height: 28px;
}

.button {
    background-color:#f46060;
   color: white;
   padding: 20px 45px;
   display: inline-block;
   border-radius: 10px;
   text-decoration: none;
   font-size:20px ;


}

.info {
padding-right: 20%;
}

h2 {
    font-size: 45px;
    color: #363958;
}

.working-projects {
    display: flex;
    justify-content: space-around;
}

.project {
    width: 31%;
    margin:  5% 1%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%; 
}
.project h3 {
  font-size: 30px;
  text-align: left;
  color: black;
 padding-top: 30px;
 padding-bottom: 15px;

}

.project p {
    text-align: left;
    padding: 0;
    
}